.exds-widget-gallery-container {
    .widget-gallery-content.infinite-loading {
        overflow-x: hidden;
    }
}

.exds-operationList-tile-header {
    width: 180px;
    height: 20px;
    line-height: 18px;
    h5 {
        font-size: $exfn-medium-font-size;
        line-height: 19px;
    }
    p {
        font-size: $exfn-normal-font-size; 
        line-height: 16px; 
    }
    &.no-action-button {
        width: 220px;
    }
}

.exds-operationList-details-tile-header {
    width: 180px;
    height: 40px;
    line-height: 20px;
    p {
        height: 40px;
        margin-bottom: 2px;
        font-size: $exfn-normal-font-size; 
        line-height: 16px; 
    }
    .break-spaces {
        word-break: break-all;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &.no-action-button {
        width: 220px;
    }
}

.exds-operationList-tile-properties {
    width: 280px;
    margin-top: 4px;
    p {
        height: 20px;
        margin-bottom: 2px;
        font-size: $exfn-normal-font-size; 
        line-height: 16px; 
    }
}

.exds-operationList-indicators {
    display: flex;
    width: 240px;
    margin-top: 12px;
	min-height: 32px;

    img {
        height: 16px;
        width: 16px;
    }
    > div.mx-image-viewer {
        width: 32px;
        height: 32px;
        margin-right: 0px;
    }
}

.empty-data-container {
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 200px;
    p {
        margin-top: 4px;
        font-size: 17.3px;
        color: #6E6E6E;
        font-style: italic;
    }
    img {
        height: 48px;
        margin-left: auto;
        margin-right: auto;
        opacity: 1;
    }
    &.add-note {
        padding-top: 150px;
    }
}