
/* DEPRECATED */
/*.exfn-input-validation-grid {
    .row{
        height: 32px!important;
    }
    padding-bottom: 24px;
    .fields-row {
        input {
            border: 1px solid #dc0000;
            background-color: #fbe5e5;
            border-radius: 2px;
        }
    }
    .message-row{
        h6 {
                color: #dc0000;
                font-weight: 500;
                font-size: 12px;
                display: flex;
                position: absolute;
                top: 16px;
        }
        img {
            position: absolute;
            top: -9px;
            right: 24px;
        }
    }
}*/